USE [Quan_Ly_Tiem_NET]
GO
ALTER TABLE [dbo].[ThanhVienVIP] DROP CONSTRAINT [FK__ThanhVienV__MaKH__7E37BEF6]
GO
ALTER TABLE [dbo].[PhienSuDung] DROP CONSTRAINT [FK__PhienSuDun__MaNV__5CD6CB2B]
GO
ALTER TABLE [dbo].[PhienSuDung] DROP CONSTRAINT [FK__PhienSuDun__MaKH__5BE2A6F2]
GO
ALTER TABLE [dbo].[PhienSuDung] DROP CONSTRAINT [FK__PhienSuDu__MaMay__5AEE82B9]
GO
ALTER TABLE [dbo].[NhapHang] DROP CONSTRAINT [FK__NhapHang__MaNV__72C60C4A]
GO
ALTER TABLE [dbo].[NhapHang] DROP CONSTRAINT [FK__NhapHang__MaDV__73BA3083]
GO
ALTER TABLE [dbo].[NapTien] DROP CONSTRAINT [FK__NapTien__MaNV__6EF57B66]
GO
ALTER TABLE [dbo].[NapTien] DROP CONSTRAINT [FK__NapTien__MaKH__6E01572D]
GO
ALTER TABLE [dbo].[LichSuGiaoDich] DROP CONSTRAINT [FK__LichSuGiao__MaKH__02084FDA]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__TrangTha__6477ECF3]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__MaNV__656C112C]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__MaKH__66603565]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK__ChiTietHoa__MaHD__693CA210]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK__ChiTietHoa__MaDV__6A30C649]
GO
ALTER TABLE [dbo].[BaoTri] DROP CONSTRAINT [FK__BaoTri__MaNV__797309D9]
GO
ALTER TABLE [dbo].[BaoTri] DROP CONSTRAINT [FK__BaoTri__MaMay__787EE5A0]
GO
ALTER TABLE [dbo].[ThanhVienVIP] DROP CONSTRAINT [DF__ThanhVien__Trang__7D439ABD]
GO
ALTER TABLE [dbo].[ThanhVienVIP] DROP CONSTRAINT [DF__ThanhVien__TongC__7C4F7684]
GO
ALTER TABLE [dbo].[PhienSuDung] DROP CONSTRAINT [DF__PhienSuDu__Trang__59FA5E80]
GO
ALTER TABLE [dbo].[PhienSuDung] DROP CONSTRAINT [DF__PhienSuDu__TongT__59063A47]
GO
ALTER TABLE [dbo].[PhienSuDung] DROP CONSTRAINT [DF__PhienSuDu__SoGio__5812160E]
GO
ALTER TABLE [dbo].[NhapHang] DROP CONSTRAINT [DF__NhapHang__NgayNh__71D1E811]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [DF__NhanVien__NgayTa__4AB81AF0]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [DF__NhanVien__TrangT__49C3F6B7]
GO
ALTER TABLE [dbo].[NapTien] DROP CONSTRAINT [DF__NapTien__NgayNap__6D0D32F4]
GO
ALTER TABLE [dbo].[MayTinh] DROP CONSTRAINT [DF__MayTinh__TrangTh__5165187F]
GO
ALTER TABLE [dbo].[LichSuGiaoDich] DROP CONSTRAINT [DF__LichSuGia__NgayG__01142BA1]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF__KhachHang__Trang__4E88ABD4]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF__KhachHang__SoDuT__4D94879B]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__TrangTha__6383C8BA]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__TongTien__628FA481]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__TongTien__619B8048]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__TongTien__60A75C0F]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__NgayTao__5FB337D6]
GO
ALTER TABLE [dbo].[DichVu] DROP CONSTRAINT [DF__DichVu__TrangTha__5535A963]
GO
ALTER TABLE [dbo].[DichVu] DROP CONSTRAINT [DF__DichVu__SoLuongT__5441852A]
GO
ALTER TABLE [dbo].[BaoTri] DROP CONSTRAINT [DF__BaoTri__TrangTha__778AC167]
GO
ALTER TABLE [dbo].[BaoTri] DROP CONSTRAINT [DF__BaoTri__ChiPhiSu__76969D2E]
GO
/****** Object:  Table [dbo].[ThanhVienVIP]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ThanhVienVIP]') AND type in (N'U'))
DROP TABLE [dbo].[ThanhVienVIP]
GO
/****** Object:  Table [dbo].[PhienSuDung]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhienSuDung]') AND type in (N'U'))
DROP TABLE [dbo].[PhienSuDung]
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhapHang]') AND type in (N'U'))
DROP TABLE [dbo].[NhapHang]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[NapTien]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NapTien]') AND type in (N'U'))
DROP TABLE [dbo].[NapTien]
GO
/****** Object:  Table [dbo].[MayTinh]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MayTinh]') AND type in (N'U'))
DROP TABLE [dbo].[MayTinh]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LichSuGiaoDich]') AND type in (N'U'))
DROP TABLE [dbo].[LichSuGiaoDich]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DichVu]') AND type in (N'U'))
DROP TABLE [dbo].[DichVu]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietHoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietHoaDon]
GO
/****** Object:  Table [dbo].[BaoTri]    Script Date: 11/30/2025 9:48:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BaoTri]') AND type in (N'U'))
DROP TABLE [dbo].[BaoTri]
GO
USE [master]
GO
/****** Object:  Database [Quan_Ly_Tiem_NET]    Script Date: 11/30/2025 9:48:06 PM ******/
DROP DATABASE [Quan_Ly_Tiem_NET]
GO
/****** Object:  Database [Quan_Ly_Tiem_NET]    Script Date: 11/30/2025 9:48:06 PM ******/
CREATE DATABASE [Quan_Ly_Tiem_NET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_Ly_Tiem_NET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quan_Ly_Tiem_NET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quan_Ly_Tiem_NET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quan_Ly_Tiem_NET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_Ly_Tiem_NET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_Ly_Tiem_NET]
GO
/****** Object:  Table [dbo].[BaoTri]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoTri](
	[MaBaoTri] [nvarchar](10) NOT NULL,
	[MaMay] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
	[NgayBaoTri] [date] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[ChiPhiSua] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[NgaySua] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaDV] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [nvarchar](10) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[LoaiDV] [nvarchar](50) NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[TrangThai] [bit] NULL,
	[Image] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaPhien] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
	[MaKH] [nvarchar](10) NULL,
	[NgayTao] [datetime] NULL,
	[TongTienMay] [decimal](15, 2) NULL,
	[TongTienDichVu] [decimal](15, 2) NULL,
	[TongTien] [decimal](15, 2) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDT] [varchar](10) NULL,
	[SoDuTaiKhoan] [decimal](15, 2) NULL,
	[TrangThai] [bit] NULL,
	[Image] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDich](
	[MaGiaoDich] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[LoaiGiaoDich] [nvarchar](50) NULL,
	[SoTien] [decimal](15, 2) NULL,
	[NgayGiaoDich] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MayTinh]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MayTinh](
	[MaMay] [nvarchar](10) NOT NULL,
	[TenMay] [nvarchar](50) NOT NULL,
	[LoaiMay] [nvarchar](50) NOT NULL,
	[GiaTheoGio] [decimal](10, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NapTien]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NapTien](
	[MaNapTien] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
	[SoTienNap] [decimal](15, 2) NOT NULL,
	[NgayNap] [datetime] NULL,
	[HinhThucNap] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNapTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDT] [varchar](10) NULL,
	[ChucVu] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[Image] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[MaNhapHang] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
	[MaDV] [nvarchar](10) NULL,
	[NgayNhap] [datetime] NULL,
	[TenNhaCungCap] [nvarchar](100) NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](10, 2) NOT NULL,
	[ThanhTien] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienSuDung]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienSuDung](
	[MaPhien] [nvarchar](10) NOT NULL,
	[MaMay] [nvarchar](10) NULL,
	[MaKH] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[SoGioSuDung] [decimal](5, 2) NULL,
	[TongTien] [decimal](15, 2) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVienVIP]    Script Date: 11/30/2025 9:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVienVIP](
	[MaVIP] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[LoaiVIP] [nvarchar](20) NULL,
	[TongChiTieu] [decimal](15, 2) NULL,
	[NgayThamGia] [date] NULL,
	[NgayHetHan] [date] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaoTri] ([MaBaoTri], [MaMay], [MaNV], [NgayBaoTri], [MoTa], [ChiPhiSua], [TrangThai], [NgaySua]) VALUES (N'BT01', N'MT02', N'NV01', CAST(N'2025-07-01' AS Date), N'Thay quạt tản nhiệt', CAST(200000.00 AS Decimal(10, 2)), N'Chờ sửa', CAST(N'2025-07-03' AS Date))
INSERT [dbo].[BaoTri] ([MaBaoTri], [MaMay], [MaNV], [NgayBaoTri], [MoTa], [ChiPhiSua], [TrangThai], [NgaySua]) VALUES (N'BT35', N'MT15', N'NV01', CAST(N'2025-08-31' AS Date), N'[Bộ phận: RAM] gãy', CAST(10000.00 AS Decimal(10, 2)), N'Đã hoàn thành', NULL)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDV], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HD02', N'DV02', 2, CAST(15000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDV], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HD02', N'DV03', 2, CAST(12000.00 AS Decimal(10, 2)), CAST(24000.00 AS Decimal(15, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaDV], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HD02', N'DV04', 1, CAST(100000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [LoaiDV], [DonGia], [SoLuongTon], [TrangThai], [Image]) VALUES (N'DV01', N'Nước suối', N'Đồ uống', CAST(10000.00 AS Decimal(10, 2)), 100, 1, N'nuoc.jpg')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [LoaiDV], [DonGia], [SoLuongTon], [TrangThai], [Image]) VALUES (N'DV02', N'Coca Cola lon', N'Đồ uống', CAST(12000.00 AS Decimal(10, 2)), 80, 1, N'coca.jpg')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [LoaiDV], [DonGia], [SoLuongTon], [TrangThai], [Image]) VALUES (N'DV03', N'Sting dâu', N'Đồ uống', CAST(12000.00 AS Decimal(10, 2)), 60, 1, N'sting.jpg')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaPhien], [MaNV], [MaKH], [NgayTao], [TongTienMay], [TongTienDichVu], [TongTien], [TrangThai]) VALUES (N'HD02', N'PS02', N'NV02', N'KH02', CAST(N'2025-07-23T14:30:32.850' AS DateTime), CAST(30000.00 AS Decimal(15, 2)), CAST(132000.00 AS Decimal(15, 2)), CAST(162000.00 AS Decimal(15, 2)), N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHD], [MaPhien], [MaNV], [MaKH], [NgayTao], [TongTienMay], [TongTienDichVu], [TongTien], [TrangThai]) VALUES (N'HD03', N'PS03', N'NV01', N'KH02', CAST(N'2025-08-15T22:12:30.240' AS DateTime), CAST(0.00 AS Decimal(15, 2)), CAST(44000.00 AS Decimal(15, 2)), CAST(44000.00 AS Decimal(15, 2)), N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHD], [MaPhien], [MaNV], [MaKH], [NgayTao], [TongTienMay], [TongTienDichVu], [TongTien], [TrangThai]) VALUES (N'HD04', N'PS04', N'NV01', N'KH01', CAST(N'2025-08-15T23:06:28.810' AS DateTime), CAST(4750.00 AS Decimal(15, 2)), CAST(25000.00 AS Decimal(15, 2)), CAST(29750.00 AS Decimal(15, 2)), N'Đã thanh toán')
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDT], [SoDuTaiKhoan], [TrangThai], [Image]) VALUES (N'KH01', N'Nguyễn Nhật Minh', N'0325453274', CAST(120040.00 AS Decimal(15, 2)), 1, N'kh1.jpg')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDT], [SoDuTaiKhoan], [TrangThai], [Image]) VALUES (N'KH02', N'Nguyễn Phi Thông', N'0867884965', CAST(50000.00 AS Decimal(15, 2)), 1, N'kh2.png')
GO
INSERT [dbo].[LichSuGiaoDich] ([MaGiaoDich], [MaKH], [LoaiGiaoDich], [SoTien], [NgayGiaoDich]) VALUES (N'GD01', N'KH01', N'Nap tien', CAST(50000.00 AS Decimal(15, 2)), CAST(N'2025-07-08T14:48:13.240' AS DateTime))
INSERT [dbo].[LichSuGiaoDich] ([MaGiaoDich], [MaKH], [LoaiGiaoDich], [SoTien], [NgayGiaoDich]) VALUES (N'GD02', N'KH01', N'Su dung may + DV', CAST(-25000.00 AS Decimal(15, 2)), CAST(N'2025-07-08T14:48:13.240' AS DateTime))
INSERT [dbo].[LichSuGiaoDich] ([MaGiaoDich], [MaKH], [LoaiGiaoDich], [SoTien], [NgayGiaoDich]) VALUES (N'GD03', N'KH02', N'Nap tien', CAST(100000.00 AS Decimal(15, 2)), CAST(N'2025-07-08T14:48:13.240' AS DateTime))
GO
INSERT [dbo].[MayTinh] ([MaMay], [TenMay], [LoaiMay], [GiaTheoGio], [TrangThai]) VALUES (N'MT01', N'Máy 01', N'Tiêu chuẩn', CAST(5000.00 AS Decimal(10, 2)), N'Trống')
INSERT [dbo].[MayTinh] ([MaMay], [TenMay], [LoaiMay], [GiaTheoGio], [TrangThai]) VALUES (N'MT02', N'Máy 02', N'Tiêu chuẩn', CAST(5000.00 AS Decimal(10, 2)), N'Trống')
INSERT [dbo].[MayTinh] ([MaMay], [TenMay], [LoaiMay], [GiaTheoGio], [TrangThai]) VALUES (N'MT03', N'Máy 03', N'Tiêu chuẩn', CAST(5000.00 AS Decimal(10, 2)), N'Trống')
GO
INSERT [dbo].[NapTien] ([MaNapTien], [MaKH], [MaNV], [SoTienNap], [NgayNap], [HinhThucNap]) VALUES (N'NT004', N'KH01', N'NV01', CAST(20000.00 AS Decimal(15, 2)), CAST(N'2025-08-19T14:36:51.780' AS DateTime), N'Tiền mặt')
INSERT [dbo].[NapTien] ([MaNapTien], [MaKH], [MaNV], [SoTienNap], [NgayNap], [HinhThucNap]) VALUES (N'NT01', N'KH01', N'NV02', CAST(50000.00 AS Decimal(15, 2)), CAST(N'2025-07-08T14:48:13.240' AS DateTime), N'Tiền mặt')
INSERT [dbo].[NapTien] ([MaNapTien], [MaKH], [MaNV], [SoTienNap], [NgayNap], [HinhThucNap]) VALUES (N'NT02', N'KH02', N'NV01', CAST(100000.00 AS Decimal(15, 2)), CAST(N'2025-07-08T14:48:13.240' AS DateTime), N'Chuyển khoản')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenDangNhap], [MatKhau], [HoTen], [SoDT], [ChucVu], [TrangThai], [NgayTao], [Image]) VALUES (N'NV01', N'hieu', N'123', N'Đoàn Tấn Hiếu', N'0795568318', N'Quản lý', 1, CAST(N'2025-07-08T14:48:13.230' AS DateTime), N'nv1.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [TenDangNhap], [MatKhau], [HoTen], [SoDT], [ChucVu], [TrangThai], [NgayTao], [Image]) VALUES (N'NV02', N'hung', N'123', N'Đoàn Tấn Hưng', N'0987654321', N'Nhân viên', 1, CAST(N'2025-07-08T14:48:13.230' AS DateTime), N'nv2.png')
GO
INSERT [dbo].[NhapHang] ([MaNhapHang], [MaNV], [MaDV], [NgayNhap], [TenNhaCungCap], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (N'NH01', N'NV01', N'DV01', CAST(N'2025-07-23T14:28:58.590' AS DateTime), N'Công ty nước khoáng ABC', 100, CAST(8000.00 AS Decimal(10, 2)), CAST(800000.00 AS Decimal(15, 2)))
INSERT [dbo].[NhapHang] ([MaNhapHang], [MaNV], [MaDV], [NgayNhap], [TenNhaCungCap], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (N'NH02', N'NV02', N'DV02', CAST(N'2025-07-23T14:28:58.590' AS DateTime), N'Cty thực phẩm Hảo Hảo', 50, CAST(12000.00 AS Decimal(10, 2)), CAST(600000.00 AS Decimal(15, 2)))
INSERT [dbo].[NhapHang] ([MaNhapHang], [MaNV], [MaDV], [NgayNhap], [TenNhaCungCap], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (N'NH03', N'NV01', N'DV03', CAST(N'2025-07-23T14:28:58.590' AS DateTime), N'Cty Coca Vietnam', 80, CAST(9500.00 AS Decimal(10, 2)), CAST(760000.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[PhienSuDung] ([MaPhien], [MaMay], [MaKH], [MaNV], [ThoiGianBatDau], [ThoiGianKetThuc], [SoGioSuDung], [TongTien], [TrangThai]) VALUES (N'PS02', N'MT11', N'KH02', N'NV02', CAST(N'2025-07-22T15:00:00.000' AS DateTime), CAST(N'2025-07-22T17:00:00.000' AS DateTime), CAST(2.00 AS Decimal(5, 2)), CAST(30000.00 AS Decimal(15, 2)), N'Đã kết thúc')
INSERT [dbo].[PhienSuDung] ([MaPhien], [MaMay], [MaKH], [MaNV], [ThoiGianBatDau], [ThoiGianKetThuc], [SoGioSuDung], [TongTien], [TrangThai]) VALUES (N'PS03', N'MT01', N'KH02', N'NV01', CAST(N'2025-08-15T22:12:30.210' AS DateTime), CAST(N'2025-08-15T22:12:42.627' AS DateTime), CAST(0.00 AS Decimal(5, 2)), CAST(44000.00 AS Decimal(15, 2)), N'Đã kết thúc')
INSERT [dbo].[PhienSuDung] ([MaPhien], [MaMay], [MaKH], [MaNV], [ThoiGianBatDau], [ThoiGianKetThuc], [SoGioSuDung], [TongTien], [TrangThai]) VALUES (N'PS04', N'MT08', N'KH01', N'NV01', CAST(N'2025-08-15T23:06:28.770' AS DateTime), CAST(N'2025-08-15T23:22:25.773' AS DateTime), CAST(1.00 AS Decimal(5, 2)), CAST(29750.00 AS Decimal(15, 2)), N'Đã kết thúc')
GO
INSERT [dbo].[ThanhVienVIP] ([MaVIP], [MaKH], [LoaiVIP], [TongChiTieu], [NgayThamGia], [NgayHetHan], [TrangThai]) VALUES (N'VIP01', N'KH01', N'Vàng', CAST(4870500.00 AS Decimal(15, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
GO
ALTER TABLE [dbo].[BaoTri] ADD  DEFAULT ((0)) FOR [ChiPhiSua]
GO
ALTER TABLE [dbo].[BaoTri] ADD  DEFAULT (N'Chờ sửa') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTienMay]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTienDichVu]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [SoDuTaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[MayTinh] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NapTien] ADD  DEFAULT (getdate()) FOR [NgayNap]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhapHang] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhienSuDung] ADD  DEFAULT ((0)) FOR [SoGioSuDung]
GO
ALTER TABLE [dbo].[PhienSuDung] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PhienSuDung] ADD  DEFAULT (N'Đang sử dụng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhVienVIP] ADD  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[ThanhVienVIP] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoTri]  WITH CHECK ADD FOREIGN KEY([MaMay])
REFERENCES [dbo].[MayTinh] ([MaMay])
GO
ALTER TABLE [dbo].[BaoTri]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhien])
REFERENCES [dbo].[PhienSuDung] ([MaPhien])
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[NapTien]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[NapTien]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhienSuDung]  WITH CHECK ADD FOREIGN KEY([MaMay])
REFERENCES [dbo].[MayTinh] ([MaMay])
GO
ALTER TABLE [dbo].[PhienSuDung]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhienSuDung]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ThanhVienVIP]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
USE [master]
GO
